body{
font-family: 'Roboto Condensed', sans-serif;
margin: 0%;
}
p{
    font-size: 20px;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
   
}
.half-width img{
    width: 80%;
}
h1{
    font-size: 50px;
    font-weight: 700;

}

.color{
    color: rgb(59, 187, 209);
}
.link-button{
    text-decoration: rgb(250, 245, 250);
    background-image: linear-gradient(rgb(91, 91, 173),rgb(216, 0, 0));
    padding: 10px 6px;
    font-weight: 700;
    border-radius: 6px;
    color: white;
}
#heading{
    color: rgb(9, 60, 73);
    
}
.food-court{
background-image: url(Frame\ 57.jpg);
background-repeat: no-repeat;
background-position: auto;
}
.recipie-color{
    color: rgb(93, 144, 189);
}
#recipie-name{
    text-align: center;
}


.flexible-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

   
    

}
.single-box{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 300px;
height: auto;
margin: 30px;
text-align: center;
padding: 20px;
border-radius: 15px;
background-color: rgb(231, 231, 231);
transition: .3s;
box-shadow: gray;
}
img{
    display: flex;
    align-items: center;
justify-content: center;
border: 6px solid gray;

}
#end{
    text-align: center;
    background-color: rgb(184, 170, 170);
    padding: 15px;
}
.header{
    color: darkslategrey;
}
.flex-item{
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 35px gray;
    padding: 20px;
border-radius: 15px;
margin: 50px;
justify-content: center;
}